<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Style Sheet -->
    <link rel="stylesheet" href="/public/css/Styles.css" />
    <link rel="stylesheet" href="/public/css/responsive.css">

    <!-- Poppins Font CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- FontAwesome Kit -->
    <script
      src="https://kit.fontawesome.com/77a0e9b908.js"
      crossorigin="anonymous"
    ></script>

    <!-- Script -->
    <script src="/src/composables/Script.js" defer></script>

    <title>LUGX | Contact Us Page</title>
  </head>
  <body class="bg-white">
    <header class="rounded-b-5xl max-sm:rounded-b-xl">
      <nav class="container navbar">
        <a href="/src/views/index.html" class="brand">
          <img src="/public/images/Navbar/Logo.png" alt="Logo" />
        </a>
        <button class="navbar-menu-toggler">
          <i class="fa-sharp fa-solid fa-bars"></i>
        </button>
        <ul class="navbar-menu">
          <li><a href="/src/views/index.html" class="menu-item">Home</a></li>
          <li><a href="/src/views/shop.html" class="menu-item">Shop</a></li>
          <li>
            <a href="/src/views/contact-us.html" class="menu-item"
              >Contact Us</a
            >
          </li>
          <li class="signin-btn">
            <a href="/src/views/sing-In.html" class="menu-item">sign in</a>
          </li>
        </ul>
      </nav>
    </header>
    <div
      class="header__title text-center bg-[url('../../public/images/HeaderBackground.jpg')] rounded-b-5xl bg-no-repeat bg-cover bg-center max-sm:rounded-xl"
    >
      <div class="contact-us__title w-4/5 mx-auto py-40">
        <h1
          class="header__title__heading text-white font-bold text-5xl uppercase max-sm:text-3xl"
        >
          Contact us
        </h1>
        <h3 class="text-white text-xl font-medium max-sm:text-xl">
          <a href="./index.html">Home</a>>contact us
        </h3>
      </div>
    </div>
    <main class="flex flex-row mx-auto w-4/5 py-4 mt-12 overflow-hidden max-sm:flex-col">
      <section class="section__left w-1/2 flex flex-col p-16 max-sm:w-full max-sm:p-4">
        <div class="title mb-12">
          <h2 class="contact-us uppercase text-[#ee626b] font-bold mb-3">
            contact us
          </h2>
          <h1 class="welcome font-extrabold text-black text-3xl mb-5">
            Say Hello!
          </h1>
        </div>
        <p class="left__p mb-12 text-[#4a4a4a]">
          LUGX Gaming Template is based on the latest Bootstrap 5 CSS framework.
          This template is provided by TemplateMo and it is suitable for your
          gaming shop ecommerce websites. Feel free to use this for any purpose.
          Thank you.
        </p>
        <div class="person_info">
          <ul class="menu">
            <li class="menu__list">
              <span class="text-[#4a4a4a] block text-sm mb-1 font-bold"
                >Addres</span
              >
              Sunny Isles Beach, FL 33160, United States
            </li>
            <li class="menu__list">
              <span class="text-[#4a4a4a] block text-sm mb-1 font-bold"
                >Phone</span
              >+1234567890
            </li>
            <li class="menu__list">
              <span class="text-[#4a4a4a] block text-sm mb-1 font-bold"
                >Email</span
              >lugx@contact.com
            </li>
          </ul>
        </div>
      </section>
      <section class="section__right ml-12 w-1/2 max-sm:w-full max-sm:m-0">
        <div class="section__right--map max-sm:mx-3">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d38850.263347629916!2d51.36674482417164!3d35.67256873122361!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1691516472449!5m2!1sen!2s"
            class="w-full rounded-xl"
            width="400"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
        <div class="section__right--inputs mt-6">
          <form id="contact-form" class="flex flex-col w-full gap-4 max-sm:text-center">
            <div class="input-container grid grid-cols-2 max-sm:flex max-sm:flex-col max-md:flex max-md:flex-col">
              <input
                type="text"
                class="input-name input-style "
                placeholder="Your Name..."
              />
              <input
                type="text"
                class="input-sirname input-style"
                placeholder="Your Surname..."
              />
              <input
                type="text"
                class="input-email input-style"
                placeholder="Your Email..."
              />
              <input
                type="text"
                class="input-subject input-style"
                placeholder="Subject..."
              />
            </div>
            <textarea
              name=""
              id=""
              cols="30"
              rows="8"
              placeholder=""
              class="text-area rounded-2xl p-2 border-4"
            ></textarea>
            <button
              class="submit-btn py-3 rounded-full px-5 mt-4 hover:bg-primary uppercase w-max text-white bg-secondary max-sm:m-auto"
            >
              Send Message Now
            </button>
          </form>
        </div>
      </section>
    </main>
    <footer
      class="footer mt-36 bg-[url('../../public/images/FooterBackground.jpg')] py-10 w-full text-center text-white rounded-t-5xl max-sm:rounded-t-2xl max-sm:mt-10 max-sm:text-sm max-lg:text-lg max-lg:rounded-t-2xl max-lg:mt-12"
    >
      <p class="mb-9 font-semibold text-lg max-sm:font-medium max-sm:text-md">
        Copyright &copy; LUGX Caming Company.All rights reserved. Design:
        TemplateMo
      </p>
    </footer>
  </body>
</html>
