<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Style Sheet -->
    <link rel="stylesheet" href="/public/css/Styles.css" />

    <!-- Poppins Font CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <title>LUGX | Home Page</title>
  </head>
  <body>
    <header>
      <nav class="container navbar">
        <a href="/" class="brand">
          <img src="/public/images/Navbar/Logo.png" alt="Logo" />
        </a>
        <ul class="navbar-menu">
          <li><a href="/" class="menu-item">Home</a></li>
          <li><a href="/shop" class="menu-item">Shop</a></li>
          <li><a href="/contact-us" class="menu-item">Contact Us</a></li>
          <li class="signin-btn">
            <a href="/signin" class="menu-item">sign in</a>
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
