<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Style Sheet -->
    <link rel="stylesheet" href="/public/css/Styles.css" />
    <!-- FontAwesome Kit -->
    <script
      src="https://kit.fontawesome.com/77a0e9b908.js"
      crossorigin="anonymous"
    ></script>

    <!-- Script -->
    <script src="/src/composables/Script.js" defer></script>
    <title>LUXG | Our Shop</title>
  </head>
  <body>
    <header>
      <nav class="container navbar">
        <a href="/src/views/index.html" class="brand">
          <img src="/public/images/Navbar/Logo.png" alt="Logo" />
        </a>
        <button class="navbar-menu-toggler">
          <i class="fa-sharp fa-solid fa-bars"></i>
        </button>
        <ul class="navbar-menu">
          <li><a href="/src/views/index.html" class="menu-item">Home</a></li>
          <li><a href="/src/views/shop.html" class="menu-item">Shop</a></li>
          <li>
            <a href="/src/views/contact-us.html" class="menu-item"
              >Contact Us</a
            >
          </li>
          <li class="signin-btn">
            <a href="./sing-In.html" class="menu-item">sign in</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="product-view pt-5">
      <section class="product-header">
        <h2 class="product-view-title">{{ productName }}</h2>
        <section class="breadcrumb">
          <a href="/">Home</a>
          <span>&gt;</span>
          <a href="/src/views/shop.html">Shop</a>
          <span>&gt;</span>
          <span class="breadcrumb-product-name">{{ productName }}</span>
        </section>
      </section>

      <article class="product-overview">
        <img
          src="/public/image/single-game.jpg"
          alt="game cover"
          class="w-full"
        />

        <section class="product-details">
          <h4 class="product-details-name">
            Call of Duty®: Modern Warfare® II
          </h4>
          <section class="product-details-price">
            <span class="off-price">$28</span>
            <span class="new-price">$18</span>
          </section>
          <p class="product-details-description">
            LUGX Gaming Template is based on the latest Bootstrap 5 CSS
            framework. This template is provided by TemplateMo and it is
            suitable for your gaming shop ecommerce websites. Feel free to use
            this for any purpose. Thank you.
          </p>

          <section class="product-details-add-to-cart">
            <input type="text" id="qty" value="1" />
            <button type="button">
              <i class="fa fa-shopping-bag"></i>
              Add to cart
            </button>
          </section>
          <section class="product-details-tags grid gap-3">
            <section class="product-details-id">
              <span>Game ID:</span>
              <h5>COD MW II</h5>
            </section>
            <section class="product-details-genre">
              <span>Genre:</span>
              <h5>Action, Team, Signle</h5>
            </section>
            <section class="product-details-multitags">
              <span>Multi-tags:</span>
              <h5>War, Battle, Royal</h5>
            </section>
          </section>
        </section>
      </article>
      <hr class="my-12 container" />
      <section class="feedbacks">
        <div class="feedbacks-header">
          <button>Description</button>
          <span></span>
          <button>Reviews (3)</button>
        </div>

        <div class="feedbacks-body">
          <p>
            You can search for more templates on Google Search using keywords
            such as "templatemo digital marketing", "templatemo one-page",
            "templatemo gallery", etc. Please tell your friends about our
            website. If you need a variety of HTML templates, you may visit
            Tooplate and Too CSS websites. Coloring book air plant shabby chic,
            crucifix normcore raclette cred swag artisan activated charcoal.
            <br />
            PBR&B fanny pack pok pok gentrify truffaut kitsch helvetica jean
            shorts edison bulb poutine next level humblebrag la croix adaptogen.
            Hashtag poke literally locavore, beard marfa kogi bruh artisan
            succulents seitan tonx waistcoat chambray taxidermy. Same cred
            meggings 3 wolf moon lomo irony cray hell of bitters asymmetrical
            gluten-free art party raw denim chillwave tousled try-hard
            succulents street art.
          </p>
        </div>
      </section>

      <article class="product-related-products">
        <span class="product-related-products-tag">ACTION</span>
        <h4>Related Games</h4>
        <section class="product-related-products-products">
          <article class="product-related-products-product">
            <span class="product-related-products-product-tag">Action</span>
            <img
              src="/public/image/top-game-02.jpg"
              alt="product-img"
              class="w-full"
            />
          </article>
        </section>
      </article>
      <footer class="product-footer">
        <p>Copyright © 2023 LUGX Gaming Company. All rights reserved.</p>
        <span>Design: TeamWork</span>
      </footer>
    </main>
  </body>
</html>
