@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    box-sizing: border-box;
  }
}
@layer components {
  * {
    @apply font-poppins;
  }
  .container {
    @apply mx-auto px-3 lg:p-3;
  }

  /* Navbar */
  header {
    @apply rounded-b-4xl font-poppins fixed z-10 top-0 w-full py-4 transition-all duration-500;
  }
  header.fade-in {
    @apply bg-primary rounded-b-4xl py-0 font-poppins fixed z-10 top-0 w-full;
  }

  .navbar {
    @apply py-5 flex justify-between items-center relative;
  }

  .brand {
    @apply w-28;
  }
  .navbar-menu-toggler {
    @apply text-white text-2xl visible sm:invisible;
  }

  .navbar-menu {
    @apply hidden sm:flex sm:relative absolute top-full left-1/2 -translate-x-1/2 sm:translate-x-0 sm:left-0 gap-3 w-[90%] sm:w-[initial] bg-white rounded-b-2xl sm:bg-transparent;
  }

  .menu-item {
    @apply sm:hover:bg-white/10 sm:text-white sm:py-2 sm:px-4 sm:rounded-full transition-colors duration-200 block py-4 border-b-[1px] border-b-gray-200 text-center hover:text-secondary sm:hover:text-white sm:border-0;
  }
  .signin-btn a {
    @apply sm:font-medium capitalize sm:uppercase sm:bg-secondary sm:hover:bg-secondary border-0;
  }
  /* Navbar */

  /* Shop.html */
  .shop-header,
  .product-header {
    @apply bg-[url('/public/images/HeaderBackground.jpg')] bg-center bg-cover py-40 rounded-b-4xl md:rounded-b-5xl flex items-center justify-center flex-col gap-4;
  }
  .shop-view-title,
  .product-view-title {
    @apply text-2xl sm:text-4xl font-bold uppercase text-white;
  }
  .breadcrumb {
    @apply text-white font-medium text-sm sm:text-lg;
  }

  .categories {
    @apply container mt-16;
  }

  .category-options {
    @apply flex justify-center gap-3 text-center flex-wrap;
  }

  .category-option {
    @apply py-2 px-5 rounded-full bg-gray-200 uppercase text-sm font-semibold transition-colors hover:text-secondary;
  }

  .category-option.active {
    @apply bg-secondary text-white;
  }

  .product-item {
    @apply bg-gray-200 rounded-4xl overflow-hidden cursor-pointer relative;
  }
  .products-list {
    @apply gap-7 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 mt-16;
  }
  .product-item-img {
    @apply object-fill w-full;
  }

  .product-item-description {
    @apply flex justify-between items-center p-5;
  }
  .product-item-genre {
    @apply text-gray-500;
  }
  .product-item-title {
    @apply font-medium text-lg group-hover:text-primary transition-colors duration-200;
  }

  .product-item-buy {
    @apply bg-secondary rounded-full w-8 h-8 text-white transition-colors duration-200 group-hover:bg-primary;
  }

  .product-item-price {
    @apply absolute top-5 right-5 rounded-2xl py-2 px-5 text-white bg-primary text-end flex flex-col;
  }

  .off-price {
    @apply line-through text-sm;
  }
  .new-price {
    @apply text-xl font-medium;
  }

  .pagination {
    @apply flex justify-center items-center gap-4 my-16;
  }
  .page-item {
    @apply w-8 h-8 flex justify-center items-center rounded-full text-lg bg-gray-200 hover:text-white hover:bg-primary transition-colors duration-200;
  }
  .page-item.active {
    @apply text-white bg-primary;
  }
  .pagination-pages {
    @apply flex justify-center gap-3;
  }

  .shop-footer,
  .product-footer {
    @apply bg-[url('/public/images/FooterBackground.jpg')] bg-cover bg-no-repeat bg-center object-cover min-h-[25vh] gap-4 rounded-t-4xl md:rounded-t-5xl lg:flex text-white text-center justify-center text-lg pt-5;
  }

  /* Shop.html */

  /* main */
  .info-box {
    @apply flex flex-col;
  }
  .menu__list {
    @apply text-[#aaaaaa] text-base mb-8;
  }
  .input-style {
    @apply border-4 mb-4 py-2 px-4 rounded-2xl  border-[#e7e7e7];
  }
  /* main */

  /* Product.html */

  .product-overview {
    @apply container mt-16 grid gap-8 lg:flex;
  }

  .product-details {
    @apply flex flex-col gap-8;
  }

  .product-details-name {
    @apply text-2xl font-semibold;
  }

  .product-details-price .new-price {
    @apply text-primary text-3xl font-semibold;
  }
  .product-details-price .off-price {
    @apply text-gray-400 font-medium text-lg;
  }

  .product-details-description {
    @apply text-sm uppercase;
  }

  .product-details-add-to-cart {
    @apply flex justify-start gap-3;
  }

  .product-details-add-to-cart input {
    @apply border-gray-200 border rounded-full bg-gray-100 outline-none transition duration-100 focus:ring-4 w-20 text-center focus:bg-white;
  }

  .product-details-add-to-cart button {
    @apply uppercase bg-secondary hover:bg-primary transition-colors duration-200 text-white rounded-full py-3 px-6 font-medium text-base;
  }

  .product-details-tags {
    @apply grid gap-3;
  }
  .product-details-tags section {
    @apply grid grid-cols-3;
  }
  .product-details-tags span {
    @apply text-gray-300 font-medium text-sm;
  }
  .product-details-tags h5 {
    @apply col-span-2 text-sm text-primary;
  }

  .feedbacks {
    @apply container bg-gray-100 rounded-4xl p-10 grid gap-8;
  }

  .feedbacks-header {
    @apply flex gap-4 text-base font-medium;
  }

  .feedbacks-header span {
    @apply h-6 w-[1px] rounded-full bg-gray-200;
  }

  .feedbacks-body {
    @apply text-sm font-normal leading-7 text-gray-600;
  }

  .product-related-products {
    @apply container my-16 grid;
  }
  .product-related-products h4 {
    @apply font-semibold text-2xl my-2;
  }

  .product-related-products-tag {
    @apply text-secondary font-semibold text-base;
  }

  .product-related-products-products {
    @apply grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4 mt-6;
  }

  .product-related-products-product {
    @apply bg-primary/50 rounded-4xl overflow-hidden text-center;
  }

  .product-related-products-product-tag {
    @apply py-5 text-white block font-medium;
  }
  /* Product.html */
}
